@model ZlagodaPrj.Models.DTO.EmployeeIndexPagedResult



<div class="container p-3">
    <h1>Employees list</h1>
    <form class="form-inline" asp-action="Index" method="get">
        <label for="surname-search-string" class="mb-2 mr-sm-2">Search by surname</label>
        <input id="surname-search-string" type="text" class="form-control" placeholder="Enter the surname..." value="@Model.SurnameSearchString" name="surnameSearchString">

        <label for="id-search-string" class="mb-2 mr-sm-2">Search by id</label>
        <input id="id-search-string" type="text" class="form-control" placeholder="Enter the id..." value="@Model.IdSearchString" name="idSearchString">
            
        
        <input class="form-check-input" asp-for="IncludeTotalSold" name="includeTotalSold" /> Include total sold product amount
        <label for="start-time" class="mb-2 mr-sm-2">Start Time</label>
        <input id="start-time" asp-for="StartTime" name="startTime">
        <label for="end-time" class="mb-2 mr-sm-2">End Time</label>
        <input id="end-time" asp-for="EndTime" name="endTime">
        @if (Model.IncludeTotalSold)
        {
            <b>Total sold by all employees in the list: @Model.TotalSold</b>
        }
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div>
        <a asp-controller="Employees" asp-action="Index" asp-route-showOnlyCashiers="@false" class="btn btn-primary">Show all employees</a>
        <a asp-controller="Employees" asp-action="Index" asp-route-showOnlyCashiers="@true" class="btn btn-primary">Show only cashiers</a>
    </div>
    <hr/>
    <table class="table table-bordered table-striped table-fixed" style="width:auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Patronymic</th>
                <th>Role</th>
                <th>Birth Date</th>
                <th>Start Date</th>
                <th>Phone</th>
                <th>City</th>
                <th>Street</th>
                <th>Zip Code</th>
            @if (Model.IncludeTotalSold)
            {
                <th>Total sold</th>
            }
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.Employees)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Surname</td>
                    <td>@emp.Name</td>
                    <td>@emp.Patronymic</td>
                    <td>@emp.Role</td>
                    <td>@emp.BirthDate</td>
                    <td>@emp.StartDate</td>
                    <td>@emp.Phone</td>
                    <td>@emp.City</td>
                    <td>@emp.Street</td>
                    <td>@emp.ZipCode</td>
                @if (Model.IncludeTotalSold)
                {
                    <td>@emp.TotalSold</td>
                }
                    <td>
                        <a class="btn btn-primary" asp-action="Update" asp-route-id="@emp.Id">Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@emp.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-controller="Employees" asp-action="Register" class="btn btn-primary">Register new Employee</a>
    </div>
</div>
