@model IEnumerable<ZlagodaPrj.Models.DTO.CheckDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrintDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrintDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Number  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Number  })
            </td>
        </tr>
}
    </tbody>
</table>
