@using ZlagodaPrj.Data;
@model ZlagodaPrj.Models.DTO.ChecksIndexPagedResult;

@{
    ViewData["Title"] = "Checks";
    string userRole = UserManager.GetCurrentUserRole(Context);
}

<h1>Checks</h1>

<form class="form-inline" asp-action="Index" method="get">
@if (userRole == RoleManager.MANAGER_ROLE)
{
    <label for="search-string" class="mb-2 mr-sm-2">Search by cashier</label>
    <div class="input-group mb-2 mr-2 flex-grow-1">
        <input id="search-string" type="text" class="form-control" placeholder="Enter the cashier id..." value="@Model.CurrentEmployeeIdSearchString" name="searchString">
    </div>
}    
    <label for="start-time" class="mb-2 mr-sm-2">Start Time</label>
    <input id="start-time" asp-for="StartTime" name="startTime">
    <label for="end-time" class="mb-2 mr-sm-2">End Time</label>
    <input id="end-time" asp-for="EndTime" name="endTime">
    <div class="mb-2">
        <input type="submit" value="Search" name="submitButton" class="btn btn-primary" />
    </div>
    <div>
        <input type="submit" value="Show for today" name="submitButton" class="btn btn-primary" />
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Cashier Id
            </th>
            <th>
                Card Number
            </th>
            <th>
                Print Date
            </th>
            <th>
                Total Sum
            </th>
            <th>
                VAT
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Checks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrintDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Number  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Number  })
            </td>
        </tr>
}
    </tbody>
</table>
