@model ZlagodaPrj.Models.DTO.ProductsListPagedResult

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<div>
    <a asp-controller="Products" asp-action="TopProductsByCity" asp-route-city="17" class="btn btn-primary">Top products for cities</a>
    <a asp-controller="Products" asp-action="ProductsSoldInEveryCity" class="btn btn-primary">Products sold in every city</a>
</div>
<form class="form-inline" asp-action="Index" method="get">
    <label for="surname-search-string" class="mb-2 mr-sm-2">Search by product name</label>
    <div class="input-group mb-2 mr-2 flex-grow-1">
        <input id="surname-search-string" type="text" class="form-control" placeholder="Enter product name..." value="@Model.ProductNameSearchString" name="productNameSearchString">
    </div>

    <label for="sort-by" class="mb-2 mr-sm-2">Filter by category</label>
    <select id="sort-by" type="text" class="form-control mb-2 mr-2" name="categoryName">
        <option selected disabled hidden>Select an Option</option>
        @foreach (Category cat in Model.Categories)
        {
            <option id="@cat.Number" value="@cat.Name">@cat.Name</option>
        }
    </select>

    <div class="mb-2">
        <input type="submit" value="Search" name="submitButton" class="btn btn-primary" />
    </div>

</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Characteristics
            </th>
            <th>
                Category Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characteristics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
