@using ZlagodaPrj.Data;
@model ZlagodaPrj.Models.DTO.CustomerCardIndexPagedResult

@{
    ViewData["Title"] = "Index";
    string userRole = UserManager.GetCurrentUserRole(Context);
}

<h1>Customers</h1>

<form class="form-inline" asp-action="Index" method="get">
    <label for="surname-search-string" class="mb-2 mr-sm-2">Search by customer surname</label>
    <div class="input-group mb-2 mr-2 flex-grow-1">
        <input id="surname-search-string" type="text" class="form-control" placeholder="Enter the surname..." value="@Model.SurnameSearchString" name="surnameSearchString">
    </div>
@if (userRole == RoleManager.MANAGER_ROLE)
{
    <label for="start-time" class="mb-2 mr-sm-2">Min Percent</label>
    <input id="start-time" asp-for="MinPercent" name="minPercent">

    <label for="end-time" class="mb-2 mr-sm-2">Max Percent</label>
    <input id="end-time" asp-for="MaxPercent" name="maxPercent">
}
    <div class="mb-2">
        <input type="submit" value="Search" name="submitButton" class="btn btn-primary" />
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Surname
            </th>
            <th>
                Name
            </th>
            <th>
                Patronymic
            </th>
            <th>
                Phone
            </th>
            <th>
                City
            </th>
            <th>
                Street
            </th>
            <th>
                Zip Code
            </th>
            <th>
                Discount Percent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CustomerCards) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id=item.Number }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Number })
            </td>
        </tr>
}
    </tbody>
</table>
